* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: #060606;
}

li {
  list-style-type: none;
}

body {
  font-family: "Oswald", sans-serif;
}

.container {
  padding-left: 120px;
  padding-right: 120px;
}
@media screen and (max-width: 1024px) {
  .container {
    padding-left: 30px;
    padding-right: 30px;
  }
}

.header {
  background-image: url(../assets/bg_mini.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  overflow: hidden;
  height: 600px;
  width: 100%;
}
.header__img {
  width: 50px;
  height: 50px;
}
.header__nav {
  position: relative;
  display: flex;
  justify-content: space-between;
  gap: 30px;
  left: 20%;
  width: 60%;
  padding: 10px;
  font-size: 20px;
  font-weight: bolder;
  text-transform: uppercase;
}
@media screen and (max-width: 1024px) {
  .header__nav {
    display: none;
  }
}
.header__navigation {
  position: relative;
}
.header__title {
  position: absolute;
  top: 40%;
  left: 20%;
}
.header__name {
  color: #FFBA00;
  font-weight: 700;
  font-size: 50px;
  text-transform: uppercase;
  -webkit-text-stroke: 1px #130C00;
}
.header__text {
  color: #ffffff;
  font-weight: 300;
  text-align: center;
  font-size: 24px;
}
.header__link {
  color: #ffffff;
  font-weight: 500;
}
.header__link:hover {
  color: #ffc443;
}
.header__burger {
  display: none;
}
@media screen and (max-width: 1024px) {
  .header__burger {
    display: block;
    position: relative;
    left: 40%;
    top: 10%;
  }
}

.logo {
  position: relative;
  height: 150px;
  width: 150px;
}
.logo_block {
  position: absolute;
}

.fine-main {
  display: flex;
  flex-direction: column;
}
.fine-main__title {
  text-align: center;
  padding-top: 50px;
  padding-bottom: 20px;
  color: #130C00;
  text-transform: uppercase;
  font-weight: 500;
}
.fine-main__text {
  font-size: 24px;
  font-weight: 400;
  color: #060606;
  text-align: center;
  padding-bottom: 20px;
}

.fine-links {
  display: flex;
  flex-direction: column;
  font-size: 24px;
  font-weight: 500;
  align-items: center;
  row-gap: 10px;
  padding-bottom: 50px;
}
.fine-links__calc {
  border-bottom: 2px solid #FFBA00;
}
.fine-links__calc:hover {
  color: #FFBA00;
}
.fine-links__check {
  border-bottom: 2px solid #FFBA00;
}
.fine-links__check:hover {
  color: #FFBA00;
}

.map-main {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.map-main__title {
  text-align: center;
  padding-top: 50px;
  padding-bottom: 50px;
  color: #130C00;
  text-transform: uppercase;
  font-weight: 500;
}
.map-main__yandex {
  border: 1px solid black;
  margin-bottom: 100px;
}

.contacts-main {
  display: flex;
  flex-direction: column;
}
.contacts-main__title {
  text-align: center;
  padding-top: 50px;
  padding-bottom: 50px;
  color: #130C00;
  text-transform: uppercase;
  font-weight: 500;
  align-items: center;
}
.contacts-main__block-top {
  display: flex;
  gap: 200px;
  padding-bottom: 30px;
}

span {
  color: #ffffff;
}

.sub-menu {
  display: none;
}

.header__link:focus ~ .sub-menu,
.header__link:active ~ .sub-menu,
.sub-menu:hover {
  display: block;
}

.links {
  margin: 100px 0;
  display: flex;
  flex-direction: column;
  background-color: rgba(193, 189, 189, 0.274);
}
.links__img {
  width: 200px;
  height: 250px;
}
.links__img:hover {
  transform: scale(1.2);
}
.links__ochra {
  color: #FFBA00;
  font-weight: 400;
  text-align: center;
  padding-top: 100px;
}
.links__important {
  padding-top: 70px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(205px, 1fr));
  gap: 50px;
  padding-bottom: 200px;
}
@media screen and (max-width: 767px) {
  .links__important {
    align-items: center;
  }
}

.content {
  height: 250px;
  background-color: rgb(235, 202, 54);
  margin-top: 200px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 20px;
  text-align: center;
}
.content:hover {
  background-color: rgb(238, 215, 109);
}
.content_image {
  height: 50px;
}

.sub_link {
  color: white;
}
.sub_link:hover {
  color: red;
}

.footer {
  background-color: #060606;
}
.footer__content {
  display: flex;
  justify-content: space-around;
  padding: 50px 0;
}
.footer__logo {
  width: 100px;
}
.footer__text {
  color: #ffffff;
  font-weight: 200;
}
.footer__left {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.footer__address {
  color: #FFBA00;
}
.footer__center {
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
}
.footer_title {
  color: #ffffff;
  border-bottom: 1px solid #FFBA00;
}
.footer__links {
  color: #ffffff;
  font-weight: 200;
}
.footer__links:hover {
  color: #FFBA00;
}

.address_img {
  fill: #FFBA00;
  width: 10px;
  height: 10px;
}/*# sourceMappingURL=style.css.map */