* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: #060606;
}

li {
  list-style-type: none;
}

body {
  font-family: "Oswald", sans-serif;
}

.container {
  padding-left: 120px;
  padding-right: 120px;
<<<<<<< HEAD
  margin: 0 auto;
=======
>>>>>>> faa3e1f890d93edac3e020209ca0488bcb71dff0
}
@media screen and (max-width: 1024px) {
  .container {
    padding-left: 30px;
    padding-right: 30px;
  }
}

.header {
  position: relative;
<<<<<<< HEAD
  background-image: url(../../assets/image/bg_mini.jpg);
  background-repeat: no-repeat;
  background-size: cover;
=======
>>>>>>> faa3e1f890d93edac3e020209ca0488bcb71dff0
  overflow: hidden;
  height: 600px;
  width: 100%;
  z-index: 3;
}
.header::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 600px;
  z-index: -1;
}
<<<<<<< HEAD
=======
.header__video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}
@media screen and (max-width: 1024px) {
  .header__video {
    display: none;
  }
}
>>>>>>> faa3e1f890d93edac3e020209ca0488bcb71dff0
.header__img {
  width: 50px;
  height: 50px;
}
.header__nav {
  position: relative;
  display: flex;
  justify-content: space-between;
  gap: 30px;
  left: 20%;
  width: 60%;
  padding: 10px;
  font-size: 20px;
  font-weight: bolder;
  text-transform: uppercase;
<<<<<<< HEAD
  padding-top: 30px;
  margin-left: 20px;
=======
>>>>>>> faa3e1f890d93edac3e020209ca0488bcb71dff0
}
@media screen and (max-width: 1024px) {
  .header__nav {
    display: none;
  }
}
.header__navigation {
  position: relative;
}
.header__title {
  position: absolute;
  top: 40%;
<<<<<<< HEAD
  left: 25%;
}
@media screen and (min-width: 768px) and (max-width: 1024px) {
  .header__title {
    top: 50%;
    left: 25%;
    box-shadow: 0 0 7px black;
    background-color: rgba(128, 128, 128, 0.4509803922);
  }
}
@media screen and (max-width: 767px) {
  .header__title {
    position: absolute;
    top: 50%;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
  }
}
.header__name {
  color: #ffffff;
  font-weight: 700;
  font-size: 70px;
  text-transform: uppercase;
  -webkit-text-stroke: 1px #130C00;
}
@media screen and (min-width: 768px) and (max-width: 1024px) {
  .header__name {
    font-size: 50px;
  }
}
@media screen and (max-width: 767px) {
  .header__name {
    font-size: 30px;
    text-align: center;
  }
}
.header__text {
  color: #ffffff;
  font-weight: 400;
  text-align: center;
  font-size: 26px;
  -webkit-text-stroke: 1px #130C00;
}
@media screen and (min-width: 768px) and (max-width: 1024px) {
  .header__text {
    -webkit-text-stroke: 1px #130C00;
    font-size: 18px;
    font-weight: 500;
  }
}
@media screen and (max-width: 767px) {
  .header__text {
    font-size: 18px;
    font-weight: 300;
  }
}
.header__link {
  color: rgba(102, 102, 102, 0.6117647059);
=======
  left: 20%;
}
.header__name {
  color: #FFBA00;
  font-weight: 700;
  font-size: 50px;
  text-transform: uppercase;
  -webkit-text-stroke: 1px #130C00;
}
.header__text {
  color: #ffffff;
  font-weight: 300;
  text-align: center;
  font-size: 24px;
}
.header__link {
  color: #ffffff;
>>>>>>> faa3e1f890d93edac3e020209ca0488bcb71dff0
  font-weight: 500;
}
.header__link:hover {
  color: #ffc443;
}
<<<<<<< HEAD

.dropbtn {
  background-color: #FFBA00;
  color: #130C00;
  border-radius: 7%;
  padding: 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;
}

.dropbtn:hover,
.dropbtn:focus {
  background-color: #ffc443;
}

.dropdown {
  position: absolute;
  display: inline-block;
  margin-top: 50px;
  left: 85%;
  display: none;
}
@media screen and (max-width: 1024px) {
  .dropdown {
    display: block;
  }
}
@media screen and (max-width: 767px) {
  .dropdown {
    margin-top: 30px;
    left: 70%;
  }
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: rgb(197, 189, 189);
  min-width: 160px;
  overflow: auto;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}
@media screen and (max-width: 1024px) {
  .dropdown-content {
    min-width: 80px;
  }
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown a:hover {
  background-color: #ddd;
}

.show {
  display: block;
}
=======
@media screen and (max-width: 1024px) {
  .header {
    background: url("../assets/image/bg_mini.jpg") center center/cover no-repeat;
  }
}
.header__burger {
  display: none;
}
@media screen and (max-width: 1024px) {
  .header__burger {
    display: block;
    position: relative;
    left: 40%;
    top: 10%;
  }
}
>>>>>>> faa3e1f890d93edac3e020209ca0488bcb71dff0

.logo {
  position: relative;
  height: 150px;
  width: 150px;
}
<<<<<<< HEAD
@media screen and (max-width: 767px) {
  .logo {
    height: 100px;
    width: 100px;
  }
}
=======
>>>>>>> faa3e1f890d93edac3e020209ca0488bcb71dff0
.logo_block {
  position: absolute;
}

<<<<<<< HEAD
.contacts-main {
  display: flex;
  flex-direction: column;
}
.contacts-main__title {
  text-align: center;
  padding-top: 50px;
  padding-bottom: 50px;
  color: #130C00;
  text-transform: uppercase;
  font-weight: 500;
  align-items: center;
}
.contacts-main__block-top {
  display: flex;
  gap: 100px;
  padding-bottom: 30px;
}
.contacts-main__photo {
  padding-left: 30px;
}
.contacts-main__texts {
  padding-top: 25px;
}
.contacts-main__name {
  font-size: 20px;
  font-weight: 500;
  padding-bottom: 10px;
}
.contacts-main__job {
  margin-bottom: 10px;
}
.contacts-main__block-bottom {
  display: flex;
  padding-top: 100px;
  padding-left: 0;
  padding-right: 0;
  gap: 40px;
  margin-bottom: 50px;
}
.contacts-main__items {
  display: flex;
  flex-direction: column;
  align-items: start;
}
.contacts-main__address {
  padding-top: 40px;
}
.contacts-main__text {
  padding-left: 35px;
  padding-bottom: 30px;
}
.contacts-main__mail {
  padding-bottom: 30px;
}
.contacts-main__map {
  display: flex;
  min-height: 30vh;
  overflow: hidden;
=======
#myVideo {
  width: 100%;
  z-index: -2;
  top: 0px;
  position: absolute;
}

.main {
  display: flex;
  flex-direction: column;
  padding-top: 100px;
}
.main__title {
  text-align: center;
  padding-top: 100px;
  padding-bottom: 20px;
  color: #130C00;
  text-transform: uppercase;
  font-weight: 500;
}
.main__card {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 20px;
  box-shadow: 10px 5px 5px gray;
}
.main__card:hover {
  box-shadow: 10px 10px 10px #676666;
}
.main__card__text {
  color: #060606;
  font-weight: 200;
  font-size: 18px;
}
.main__cards {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(205px, 1fr));
  gap: 20px;
}
.main__card-text {
  color: #130C00;
}

.article_text {
  font-size: 18px;
  font-weight: 200;
  color: #060606;
  text-align: center;
  padding-bottom: 50px;
}

.links-title {
  padding: 20px;
>>>>>>> faa3e1f890d93edac3e020209ca0488bcb71dff0
}

span {
  color: #ffffff;
}

.sub-menu {
  display: none;
}

.header__link:focus ~ .sub-menu,
.header__link:active ~ .sub-menu,
.sub-menu:hover {
  display: block;
}

.links {
  margin: 100px 0;
  display: flex;
  flex-direction: column;
  background-color: rgba(193, 189, 189, 0.274);
}
.links__img {
  width: 200px;
  height: 250px;
}
.links__img:hover {
  transform: scale(1.2);
}
.links__ochra {
  color: #FFBA00;
  font-weight: 400;
  text-align: center;
  padding-top: 100px;
}
.links__important {
  padding-top: 70px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(205px, 1fr));
  gap: 50px;
  padding-bottom: 200px;
}
@media screen and (max-width: 767px) {
  .links__important {
    align-items: center;
  }
}

<<<<<<< HEAD
=======
.map {
  background-image: url(../assets/image/kaliningrad.jpg);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: top center;
}

.gibdd {
  background-image: url(../assets/image/gibdd.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: top center;
}

.government {
  background-image: url(../assets/image/government.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: top center;
}

>>>>>>> faa3e1f890d93edac3e020209ca0488bcb71dff0
.content {
  height: 250px;
  background-color: rgb(235, 202, 54);
  margin-top: 200px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 20px;
  text-align: center;
}
.content:hover {
  background-color: rgb(238, 215, 109);
}
.content_image {
  height: 50px;
}

.sub_link {
  color: white;
}
.sub_link:hover {
<<<<<<< HEAD
  color: #ffc443;
=======
  color: red;
}

.test {
  display: flex;
  flex-direction: column;
  align-self: center;
}
.test__title {
  padding-top: 100px;
  padding-bottom: 100px;
  text-align: center;
}
@media screen and (max-width: 767px) {
  .test__img {
    max-width: 200px;
  }
>>>>>>> faa3e1f890d93edac3e020209ca0488bcb71dff0
}

.footer {
  background-color: #060606;
}
.footer__content {
  display: flex;
  justify-content: space-around;
  padding: 50px 0;
}
<<<<<<< HEAD
@media screen and (max-width: 767px) {
  .footer__content {
    flex-direction: column;
    align-items: center;
    gap: 20px;
  }
}
.footer__logo {
  width: 100px;
}
.footer__links {
  color: #ffffff;
}
=======
.footer__logo {
  width: 100px;
}
>>>>>>> faa3e1f890d93edac3e020209ca0488bcb71dff0
.footer__text {
  color: #ffffff;
  font-weight: 200;
}
<<<<<<< HEAD
@media screen and (max-width: 767px) {
  .footer__text {
    display: flex;
    gap: 10px;
    justify-content: center;
  }
}
=======
>>>>>>> faa3e1f890d93edac3e020209ca0488bcb71dff0
.footer__left {
  display: flex;
  flex-direction: column;
  gap: 20px;
<<<<<<< HEAD
  max-width: 200px;
}
@media screen and (max-width: 767px) {
  .footer__left {
    text-align: center;
    padding: 0 30px;
    max-width: 200px;
  }
}
.footer_right {
  padding-top: 40px;
  display: flex;
  flex-direction: column;
  gap: 20px;
=======
>>>>>>> faa3e1f890d93edac3e020209ca0488bcb71dff0
}
.footer__address {
  color: #FFBA00;
}
.footer__center {
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
<<<<<<< HEAD
  padding-top: 40px;
=======
>>>>>>> faa3e1f890d93edac3e020209ca0488bcb71dff0
}
.footer_title {
  color: #ffffff;
  border-bottom: 1px solid #FFBA00;
}
.footer__links {
  color: #ffffff;
  font-weight: 200;
}
.footer__links:hover {
  color: #FFBA00;
}

.address_img {
  fill: #FFBA00;
<<<<<<< HEAD
  width: 20px;
  height: 20px;
}/*# sourceMappingURL=contacts.css.map */
=======
  width: 10px;
  height: 10px;
}
>>>>>>> faa3e1f890d93edac3e020209ca0488bcb71dff0


.main__title{
  color: firebrick;
<<<<<<< HEAD
  padding-left: 550px;
  padding-top: 50px;
=======
>>>>>>> faa3e1f890d93edac3e020209ca0488bcb71dff0
}
.main_container-pd {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(450px, 1fr));
<<<<<<< HEAD
  padding-top: 50px;
=======

>>>>>>> faa3e1f890d93edac3e020209ca0488bcb71dff0
  grid-gap: 20px;
  padding: 20px;
}

.mystery_container-supertitle{
  padding-left: 550px;
  padding-top: 50px;
  font-size: 2em;
}
.mystery_container-my1, .mystery_container-my2{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  padding-top: 100px;
  padding-left: 20px;
  padding-bottom: 40px;
  
 }
  
.mystery_container-my1--image3:hover {
  transform: scale(1.2);
<<<<<<< HEAD
  box-shadow:
    inset 0 -3em 3em rgba(150, 90, 21, 0.1),
    0 0 0 2px rgb(255, 255, 255),
    0.3em 0.3em 1em rgba(0, 0, 0, 0.3);
}

.mystery_container-my1--text{
  font-size: 25px;
=======
>>>>>>> faa3e1f890d93edac3e020209ca0488bcb71dff0
}



.main_container-pam-content {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(500px, 1fr));
  padding-top: 100px;
  padding: 100px;
  grid-column-gap: 50px;
  grid-row-gap: 20px;
}
.main_container-pam-title {
  padding-top: 100px;
  padding-left: 600px;
  @media screen and (max-width: 767px) {
   padding: 100px;
}
}
.main_container-pam-text{
<<<<<<< HEAD
  font-size: 30px;
}
/*# sourceMappingURL=style.css.map */
=======
  font-size: larger;
}
/*# sourceMappingURL=style.css.map */

>>>>>>> faa3e1f890d93edac3e020209ca0488bcb71dff0
